// app global css in SCSS form
.image-vignette {
  width: 250px;
  border-radius: 8px;
}

.image-big-vignette {
  width: 350px;
  border-radius: 8px;
}

.size-vignette {
  width: 250px;
}

.size-big-vignette {
  width: 350px;
}

.max-100 {
  max-width: 100%;
}

.min-width-0 {
  min-width: 0;
}
